<%- include('partials/header') -%>

<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <form action="/auth/logout" method="GET">
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>