<%# comment modal %>
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%# modal title %>
        <h5 class="modal-title" id="commentModalTitle">Add Comment</h5>
        <%# close modal %>
        <button type="button" class="btn btn-secondary fa fa-window-close close" data-dismiss="modal" aria-label="close"></button>
      </div>

      <%# login form %>
      <form action="/comment/addComment" id="commentForm" method="POST">
        <div class="modal-body">
          <%# comment text %>
          <textarea class="form-control" id="commentText" name="comment" placeholder="Comment" cols="50" rows="3"></textarea>

          <%# hidden inputs %>
          <div>
            <%# user id %>
            <input type="hidden" name="userId" value="<%=currentUser['_id']%>" />
          </div>
        </div>

        <%# form buttons %>
        <div class="modal-footer">
          <%# close modal %>
          <button type="button" class="btn btn-secondary close" data-dismiss="modal">Cancel</button>
          <%# login buttons %>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>