<%# message modal %>
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%# modal title %>
        <h5 class="modal-title" id="messageModalTitle">Message - <%= otherUser['userHandle'] %></h5>
        <%# close modal %>
        <button type="button" class="btn btn-secondary fa fa-window-close close" data-dismiss="modal" aria-label="close"></button>
      </div>

      <%# message form %>
      <form action="/message/send"  method="POST">
        <div class="modal-body">
          <%# message text %>
          <textarea class="form-control" id="message" name="message" placeholder="Hello World!" cols="50" rows="3"></textarea>
          <%# hidden inputs %>
          <div>
            <%# post id %>
            <input type="hidden" name="recieverId" value="<%=otherUser['_id']%>" />
            <%# user id %>
            <input type="hidden" name="senderId" value="<%=currentUser['_id']%>" />
          </div>
        </div>
        <%# form buttons %>
        <div class="modal-footer">
          <%# close modal %>
          <button type="button" class="btn btn-secondary close" data-dismiss="modal">Cancel</button>
          <%# login buttons %>
          <button type="submit" class="btn btn-primary" >Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>